<%= stylesheet_link_tag "questions" %>
<div class="container text-center">
  <h1>The Questions Game</h1>
  <br>
  <div class="button-wrap">
    <%= link_to 'New Question', new_question_path, :class => "button-style-1"%>
    <%= link_to 'Start Game', {controller: "questions", action: "game"}, :class => "button-style-1"%>
  </div>
</div>
