<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Author string:</strong>
  <%= @question.author_string %>
</p>

<%= link_to 'Back', questions_path %>
